<!--左-->
<%= render 'books/left', book: @book %>

<!--右-->
<h2>Books</h2>
<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Opinion</th>
  </tr>
  <tr>
    <td>画像</td>
    <td>タイトル</td>
    <td>本文</td>
  </tr>
</table>