<h2>Book detail</h2>
<table>
  <tr>
    <td>

      <%= current_user.name %>
    </td>
    <td></td>
    <td><%= link_to 'Edit',  edit_book_path %></td>
    <td><%= link_to 'Destroy', books_path %></td>
  </tr>
</table>